<BODY BACKGROUND="black" BGCOLOR="#000000" TEXT="#FFFFFF" 
LINK="dedac2" VLINK="dedac2" ALINK=white>
<CENTER><IMG SRC="../images/banners/awards.jpg" HEIGHT=60 WIDTH=300 ALT="awards">
<BR><BR>
I kick ass...this is my one and only award :)
<BR>
<BR>

<BR><A HREF="http://w1.605.telia.com/~u60502112/war2/index.htm"><IMG SRC="../images/misc/warcraft_net.gif" HEIGHT=200 WIDTH=200 ALT="Best Warcraft II Site Award" BORDER=0></A><BR><BR>
<FONT SIZE=2>9/25/97</FONT>
<BR><BR>
<BR>

<BR><BR><BR><BR>
<BR><CENTER><FONT SIZE=1>
<HR><A HREF="main.html">Main</A> 
| <A HREF="awards.html">Awards</A> 
| <A HREF="banners.html">Banners</A> 
| <A HREF="cheats.html">Cheats</A> 
<!--| <A HREF="http://www.geocities.com/timessquare/alley/9878/frames.html">Downloads</A> -->
| <A HREF="kaliinfo.html">Kali Info</A> 
| <A HREF="links.html">Links</A>
| <A HREF="mybanners.html">My Banners</A> 
| <A HREF="ranks.html">Ranks</A>
| <A HREF="spells.html">Spells</A> 
| <A HREF="strategies.html">Strategies</A> 
| <A HREF="stuff.html">Stuff</A> 
| <A HREF="war2pics.html">War2 Pics</A> 
| <A HREF="signbook.html">Signbook</A> 
| <A HREF="viewbook.html">Viewbook</A> 
<!--| <A HREF="mailto:cykadelik@earthling.net">Email Me</A><BR>-->