<HTML>
<TITLE>MUAHAHAHAHA!!</TITLE>
<BODY BACKGROUND="../images/misc/fire2.jpg" TEXT="white" LINK="gray" VLINK="gray" ALINK=white>
<CENTER><h1>MUAHAHAHAHAHAHA!! </h1></CENTER>
<p>
you're in hell. deep deep hell.<BR>  
This is what you get for thinking my page sucks.  Now for punishment, you have to wait for this picture
to load up<BR> have a nice day
<P>
<P>This is what you will have to do for the rest of eternity!! --chop chop chop--


<P><IMG SRC="../images/misc/deephell.jpg">
<P>
