<BODY BACKGROUND="black" BGCOLOR="#000000" TEXT="#FFFFFF" 
LINK="dedac2" VLINK="dedac2" ALINK=white>
<CENTER><IMG SRC="../images/banners/links.jpg" HEIGHT=60 WIDTH=300 ALT="links">
<BR><BR>

To add a link to my page, fill out the form at the bottom.<BR>

Here are the <A HREF="banners.html">banners</A>.<BR><BR>


<FONT SIZE=2>
</CENTER>

<BASE TARGET="_parent">

</CENTER>

 - <A HREF="http://home3.swipnet.se/~w-38081/omid/frames.htm">A Glorious Warcraft 2 Page</A> - <I>PUDs, story of the game, info on the ex. set, ranks and other stuff</I><BR>

 - <A HREF="adios">Cyberkarkas' War2 Pics Gallery</A> - <I>This page is gone</I><BR>

 - <A HREF="http://www.best.com/~edcheng/dioxide">Dioxide's Warcraft II Page</A> - <I>This page is still up although he doesnt update it much.  He has a Starcraft page and im sure it is good because he has a good warcraft 2 page.</I><BR>

 - <A HREF="http://www.geocities.com/TimesSquare/Maze/5899/">ebay's Temple of the Damned</A> - <I>He's got strategies here, downloads and more stuff.  Click on the link and see it</I><BR>

 - <A HREF="http://www2.dk-online.dk/users/bas3/homepage.htm">Emil's Homepage</A> - <I>He has War2 page, diablo 1 and 2 pages and a Starcraft page</I><BR>

 - <A HREF="http://home.att.net/~luckyed/index.html">Erhnam's WarCraft 2 Page</A> - <I>This page hasn't been updated lately, but it is still there with a lot of information.</I><BR>

 - <A HREF="http://www.geocities.com/TimesSquare/Castle/2621/index.html">KillKrazy's Warcraft II Homeworld</A> - <I>This page is really nice.  It still has the same stuff, a lot of information on Kali, stuff for beginners, and a Starcraft page</I><BR>

 - <A HREF="http://sides.simplenet.com">Lord Sides' Web Page</A> - <I>Downloads, PUDs and links.  He also has Diablo, Warcraft 3, MP3's and Midis and more</I><BR>

 - <A HREF="http://www.netleague.com/wc2">Methos' Warcraft II Strategy Page</A> - <I>Strategies!  You must check it out</I><BR>

 - <A HREF="http://www.geocities.com/TimesSquare/3040/">Mogor's Warcraft 2 Page</A> - <I>Some puds and lots of strategies and links.  He is not updating this page anymore</I><BR>

 - <A HREF="http://www.cyberspc.mb.ca/~erroll/war2/warcraft.htm">Peon Slayer's Warcraft II Page</A> - <I>34 puds, up to 179 links to other Warcraft pages</I><BR>

 - <A HREF="http://games.nextlevel.net/fraizer/WAR2/war2.html">Shlonglor's Warcraft II Page</a> - <I>His page is no longer around, at least not at this URL</I><BR>

 - <A HREF="http://www.stals.com/war2">Stals.com - Warcraft II Page</A> - <I>This is a great page.  It has so much stuff on it.  All the bugs, cheats, downloads, hotkeys, units, strategies, PUDs and lots more.  If you haven't seen this page check it out!  He doesn't update it anymore, or at least doesn't often</I><BR>

 - <A HREF="http://mordor.netlink.ch/user/cartho/warcraft/">Telcontar's Warcraft II Domain</a> - <I>I haven't been able to get to this site for a while.  Get your PUDs here he's got tons to chose from!  There is also information on getting PUDs set up to use them.  Downloads, strategies and Pics too.  This is an awesome page.</I><BR>

 - <A HREF="http://www.geocities.com/TimesSquare/Castle/5236/">Thy World of Warcraft</A> - <I>Downloads, PUDs, strategies, links, etc...</I><BR>

<BR>



<BR><HR>

<BR><i>Other Pages:</i>

<BR>

 - <A HREF="http://www.calvinandhobbes.com">Calvin and Hobbes</A> - The Official Calvin and Hobbes page<BR>



 - <A HREF="http://www.igl.net">Case's Internet Gaming Ladder</A> - Get ranked in the games you play<BR>



 - <A HREF="http://www.geocities.com/Area51/Corridor/2169/">Star Wars/Warcraft II Total Conversion Site</A> - Warcraft with Star Wars characters and more<BR>



 - <A HREF="http://www.owo.com">Ultima Online</A> - A great roll playing game.  This is the homepage<br>



<BASE TARGET="main">

<BR><BR><CENTER><hr width=75%><BR>

Please submit your banner here.  If you don't have a banner, then just fill everything out except the Banner URL.  Please add my page to your links page cause if you don't thats kinda stupid to ask for a link and not even add mine to yours =)  Thanks<BR></CENTER>

<BASE TARGET="main">







<FORM ACTION="" METHOD="post">

<B>Enter your Email address:</B><br>

<INPUT TYPE="text" SIZE=25 NAME="email"><br><br>

<B>Name of Site:</B><br>

<INPUT TYPE="text" SIZE=25 NAME="name"><BR><br>

<B>Enter your Webpage URL:</B><BR>

<INPUT TYPE="text" SIZE=50 NAME="address"><br><BR>

<B>Enter your banner URL: (optional)</B><br>

<INPUT TYPE="text" SIZE=50 NAME="banner"><BR><br>





<INPUT TYPE="submit" SEND="nil" VALUE="Send it In!">

<INPUT TYPE="reset" SEND="nil" VALUE="Reset">



</FORM><BASE TARGET="main">





<BR><CENTER><FONT SIZE=1>
<HR><A HREF="main.html">Main</A> 
| <A HREF="awards.html">Awards</A> 
| <A HREF="banners.html">Banners</A> 
| <A HREF="cheats.html">Cheats</A> 
<!--| <A HREF="http://www.geocities.com/timessquare/alley/9878/frames.html">Downloads</A>  -->
| <A HREF="kaliinfo.html">Kali Info</A> 
| <A HREF="links.html">Links</A>
| <A HREF="mybanners.html">My Banners</A> 
| <A HREF="ranks.html">Ranks</A>
| <A HREF="spells.html">Spells</A> 
| <A HREF="strategies.html">Strategies</A> 
| <A HREF="stuff.html">Stuff</A> 
| <A HREF="war2pics.html">War2 Pics</A> 
| <A HREF="signbook.html">Signbook</A> 
| <A HREF="viewbook.html">Viewbook</A> 
<!--| <A HREF="mailto:cykadelik@earthling.net">Email</A><BR>-->