<HTML>

<HEAD><TITLE>Cykadelik's Warcraft Page</TITLE></HEAD>

<CENTER>

<BODY BACKGROUND="black" BGCOLOR="#000000" TEXT="#FFFFFF" 

LINK="dedac2" VLINK="dedac2" ALINK=white>

<!--<IMG SRC="../images/misc/calvin.gif" WIDTH=75 HEIGHT=70 ALT="Calvin"><BR><BR>-->

<BR><CENTER><IMG SRC="../images/banners/cykpage1.jpg" WIDTH=350 HEIGHT=40 ALT="Cykadelik's Warcraft Page">

<BR><BR>

<TABLE WIDTH=75% CELLPADDING=0 CELLSPACING=0 BGCOLOR=white BORDER=0>

   <TR><CENTER>

    <TD ALIGN="center"><FONT COLOR=181827 SIZE="2" FACE="arial">Just one more update</FONT></A></CENTER>

  </TD>

  </TR>

  </TABLE>

<BR>

</FONT><FONT SIZE=2>

        <h1>2018 update: </h1><p>I've decided to re-release this page, in all of its '90s HTML glory (no, you will not find any
            CSS in the source code). You can contact me at <pre>cykadelik@givemeaquest.com</pre>
        Aside from a few minor changes, this page hasn't really been touched in 20 years.
        And just for fun, if you know me as Lhianna from Ultima Online, I found this button in my files for The Bane of Chaos
        (AKA Stormrune on Great Lakes). </p>
        <img src="../images/misc/boc.gif">

<BR>

<!--There's no reason to update anymore, so I'm not going to.  I can't remember the last time I played War2..<BR><BR>-->
<!--BUT!  Warcraft III is a different story . . .<BR><BR>-->

<BASE TARGET="main">
<br>
<BR><BR><FONT SIZE=2>See my <A HREF="news.html">News</A> page for old updates<FONT SIZE=2><BR>

<BR><BR>

        <!--Some crazy counter scripts ahead...-->
<!--&lt;!&ndash; Start of TheCounter.com Code &ndash;&gt;-->

<!--<SCRIPT>&lt;!&ndash; -->

<!--s="na";c="na";j="na";f=""+escape(document.referrer)-->

<!--//&ndash;&gt;</SCRIPT>-->

<!--<SCRIPT language="javascript1.2">&lt;!&ndash;-->

<!--s=screen.width;v=navigator.appName-->

<!--if (v != "Netscape") {c=screen.colorDepth}-->

<!--else {c=screen.pixelDepth}-->

<!--j=navigator.javaEnabled()-->

<!--//&ndash;&gt;</SCRIPT>-->

<!--<SCRIPT>&lt;!&ndash;-->

<!--function pr(n) {document.write(n,"\n");}-->

<!--NS2Ch=0-->

<!--if (navigator.appName == "Netscape" &&-->

<!--navigator.appVersion.charAt(0) == "2") {NS2Ch=1}-->

<!--if (NS2Ch == 0) {-->

<!--r="&size="+s+"&colors="+c+"&referer="+f+"&java="+j+""-->

<!--pr("<A HREF=\"http://www.TheCounter.com\" TARGET=\"_top\"><IMG")-->

<!--pr("BORDER=0 SRC=\"http://c1.thecounter.com/id=192019"+r+"\"></A>")}-->

<!--//&ndash;&gt;</SCRIPT>-->

<!--<NOSCRIPT><A HREF="http://www.TheCounter.com" TARGET="_top"><IMG-->

<!--SRC="http://c1.thecounter.com/id=192019" BORDER=0></A>-->

<!--</NOSCRIPT>-->

<!--&lt;!&ndash; End of TheCounter.com Code &ndash;&gt;<BR>-->

<BR>



<BR><I>This page has been up since April 1997</I><BR><BR>
<br>
<BR>
<BR><CENTER><FONT SIZE=1>
<HR><A HREF="main.html">Main</A> 
| <A HREF="awards.html">Awards</A> 
| <A HREF="banners.html">Banners</A> 
| <A HREF="cheats.html">Cheats</A> 
<!--| <A HREF="http://www.geocities.com/timessquare/alley/9878/frames.html">Downloads</A>  -->
| <A HREF="kaliinfo.html">Kali Info</A> 
| <A HREF="links.html">Links</A>
| <A HREF="mybanners.html">My Banners</A> 
| <A HREF="ranks.html">Ranks</A>
| <A HREF="spells.html">Spells</A> 
| <A HREF="strategies.html">Strategies</A> 
| <A HREF="stuff.html">Stuff</A> 
| <A HREF="war2pics.html">War2 Pics</A> 
| <A HREF="signbook.html">Signbook</A> 
| <A HREF="viewbook.html">Viewbook</A> 
<!--| <A HREF="mailto:cykadelik00@yahoo.com">Email</A><BR>-->

