<HTML>
<TITLE>Cykadelik's Warcraft Page</TITLE>
<BODY BGCOLOR="black" TEXT="white"><FONT SIZE=1>
<CENTER><BASE TARGET="main">
<script language="JavaScript">

bmain1 = new Image;
bmain1.src = "../images/sidebar/bmain1.jpg";
bmain3 = new Image;
bmain3.src = "../images/sidebar/bmain3.jpg";

branks1 = new Image;
branks1.src = "../images/sidebar/branks1.jpg";
branks3 = new Image;
branks3.src = "../images/sidebar/branks3.jpg";

bawards1 = new Image;
bawards1.src = "../images/sidebar/bawards1.jpg";
bawards3 = new Image;
bawards3.src = "../images/sidebar/bawards3.jpg";

bbanners1 = new Image;
bbanners1.src = "../images/sidebar/bbanners1.jpg";
bbanners3 = new Image;
bbanners3.src = "../images/sidebar/bbanners3.jpg";

bmbanners1 = new Image;
bmbanners1.src = "../images/sidebar/bmbanners1.jpg";
bmbanners3 = new Image;
bmbanners3.src = "../images/sidebar/bmbanners3.jpg";

bdownloads1 = new Image;
bdownloads1.src = "../images/sidebar/bdownloads1.jpg";
bdownloads3 = new  Image;
bdownloads3.src = "../images/sidebar/bdownloads3.jpg ";

blinks1 = new Image;
blinks1.src = "../images/sidebar/blinks1.jpg";
blinks3 = new Image;
blinks3.src = "../images/sidebar/blinks3.jpg";

bstrategies1 = new Image;
bstrategies1.src = "../images/sidebar/bstrategies1.jpg";
bstrategies3 = new Image;
bstrategies3.src = "../images/sidebar/bstrategies3.jpg";

bcheats1 = new Image;
bcheats1.src = "../images/sidebar/bcheats1.jpg";
bcheats3 = new Image;
bcheats3.src = "../images/sidebar/bcheats3.jpg";

bkaliinfo1 = new Image;
bkaliinfo1.src = "../images/sidebar/bkaliinfo1.jpg";
bkaliinfo3 = new Image;
bkaliinfo3.src = "../images/sidebar/bkaliinfo3.jpg";

bwar2pics1 = new Image;
bwar2pics1.src = "../images/sidebar/bwar2pics1.jpg";
bwar2pics3 = new Image;
bwar2pics3.src = "../images/sidebar/bwar2pics3.jpg";

bstuff1 = new Image;
bstuff1.src = "../images/sidebar/bstuff1.jpg";
bstuff3 = new Image;
bstuff3.src = "../images/sidebar/bstuff3.jpg";

bspells1 = new Image;
bspells1.src = "../images/sidebar/bspells1.jpg";
bspells3 = new Image;
bspells3.src = "../images/sidebar/bspells3.jpg";

bnews1 = new Image;
bnews1.src = "../images/sidebar/bnews1.jpg";
bnews3 = new Image;
bnews3.src = "../images/sidebar/bnews3.jpg";

bsign1 = new Image;
bsign1.src = "../images/sidebar/bsign1.jpg";
bsign3 = new Image;
bsign3.src = "../images/sidebar/bsign3.jpg";

bview1 = new Image;
bview1.src = "../images/sidebar/bview1.jpg";
bview3 = new Image;
bview3.src = "../images/sidebar/bview3.jpg";

bemail1 = new Image;
bemail1.src = "../images/sidebar/bemail1.jpg";
bemail3 = new Image;
bemail3.src = "../images/sidebar/bemail3.jpg";

function hiLite(imgName,newImg, message) {
        self.status=message;
        document.images[imgName].src = eval(newImg + ".src");
        return true;
}
function Describe(message) {
        self.status=message;
        return true;
}

</script>
<FONT SIZE=1>

<A HREF="main.html" target="main" onMouseOver="return hiLite('bmain1','bmain3','Main')" onMouseOut="return hiLite('bmain1','bmain1','')"><IMG NAME=bmain1 BORDER=0 VSPACE=0 HSPACE=0 SRC="../images/sidebar/bmain1.jpg" WIDTH=90 HEIGHT=15 ALT="Main"></A><BR><BR>

<A HREF="awards.html" target="main" onMouseOver="return hiLite('bawards1','bawards3','Awards')" onMouseOut="return hiLite('bawards1','bawards1','')"><IMG NAME=bawards1 BORDER=0 VSPACE=0 HSPACE=0 SRC="../images/sidebar/bawards1.jpg" WIDTH=90 HEIGHT=15 ALT="Awards"></A><BR><BR>

<A HREF="banners.html" target="main" onMouseOver="return hiLite('bbanners1','bbanners3','Banners')" onMouseOut="return hiLite('bbanners1','bbanners1','')"><IMG NAME=bbanners1 BORDER=0 VSPACE=0 HSPACE=0 SRC="../images/sidebar/bbanners1.jpg" WIDTH=90 HEIGHT=15 ALT="Banners"></A><BR><BR>

<A HREF="cheats.html" target="main" onMouseOver="return hiLite('bcheats1','bcheats3', 'Cheats')" onMouseOut="return hiLite('bcheats1','bcheats1','')"><IMG NAME=bcheats1 BORDER=0 VSPACE=0 HSPACE=0 SRC="../images/sidebar/bcheats1.jpg" WIDTH=90 HEIGHT=15 ALT="Cheats"></A><BR><BR>

<A HREF="http://www.geocities.com/timessquare/alley/9878/frames.html" target="_parent" onMouseOver="return hiLite('bdownloads1','bdownloads3','Downloads')" onMouseOut="return hiLite('bdownloads1','bdownloads1','')"><IMG NAME=bdownloads1 BORDER=0 VSPACE=0 HSPACE=0 SRC="../images/sidebar/bdownloads1.jpg" WIDTH=90 HEIGHT=15 ALT="Downloads"></A><BR><BR>

<A HREF="kaliinfo.html" target="main" onMouseOver="return hiLite('bkaliinfo1','bkaliinfo3','Kali Info')" onMouseOut="return hiLite('bkaliinfo1','bkaliinfo1','')"><IMG NAME=bkaliinfo1 BORDER=0 VSPACE=0 HSPACE=0 SRC="../images/sidebar/bkaliinfo1.jpg" WIDTH=90 HEIGHT=15 ALT="Kali Info"></A><BR><BR>

<A HREF="links.html" target="main" onMouseOver="return hiLite('blinks1','blinks3','Links')" onMouseOut="return hiLite('blinks1','blinks1','')"><IMG NAME=blinks1 BORDER=0 VSPACE=0 HSPACE=0 SRC="../images/sidebar/blinks1.jpg" WIDTH=90 HEIGHT=15 ALT="Links"></A><BR><BR>

<A HREF="mybanners.html" target="main" onMouseOver="return hiLite('bmbanners1','bmbanners3','My Banners')" onMouseOut="return hiLite('bmbanners1',' bmbanners1','')"><IMG NAME=bmbanners1 BORDER=0 VSPACE=0 HSPACE=0 SRC="../images/sidebar/bmbanners1.jpg" WIDTH=90 HEIGHT=15 ALT="My Banners"></A><BR><BR>

<A HREF="news.html" target="main" onMouseOver="return hiLite('bnews1','bnews3','News')" onMouseOut="return hiLite('bnews1','bnews1','')"><IMG NAME=bnews1 BORDER=0 VSPACE=0 HSPACE=0 SRC="../images/sidebar/bnews1.jpg" WIDTH=90 HEIGHT=15 ALT="News"></A><BR><BR>

<A HREF="ranks.html" target="main" onMouseOver="return hiLite('branks1','branks3','Ranks')" onMouseOut="return hiLite('branks1','branks1','')"><IMG NAME=branks1 BORDER=0 VSPACE=0 HSPACE=0 SRC="../images/sidebar/branks1.jpg" WIDTH=90 HEIGHT=15 ALT="Ranks"></A><BR><BR>

<A HREF="spells.html" target="main" onMouseOver="return hiLite('bspells1','bspells3','Spells')" onMouseOut="return hiLite('bspells1','bspells1','')"><IMG NAME=bspells1 BORDER=0 VSPACE=0 HSPACE=0 SRC="../images/sidebar/bspells1.jpg" WIDTH=90 HEIGHT=15 ALT="Spells"></A><BR><BR>

<A HREF="strategies.html" target="main" onMouseOver="return hiLite('bstrategies1','bstrategies3','Strategies')" onMouseOut="return hiLite('bstrategies1','bstrategies1','')"><IMG NAME=bstrategies1 BORDER=0 VSPACE=0 HSPACE=0 SRC="../images/sidebar/bstrategies1.jpg" WIDTH=90 HEIGHT=15 ALT="Strategies"></A><BR><BR>

<A HREF="stuff.html" target="main" onMouseOver="return hiLite('bstuff1','bstuff3','Stuff')" onMouseOut="return hiLite('bstuff1','bstuff1','')"><IMG NAME=bstuff1 BORDER=0 VSPACE=0 HSPACE=0 SRC="../images/sidebar/bstuff1.jpg" WIDTH=90 HEIGHT=15 ALT="Stuff"></A><BR><BR>

<A HREF="war2pics.html" target="main" onMouseOver="return hiLite('bwar2pics1','bwar2pics3','War2 Pics')" onMouseOut="return hiLite('bwar2pics1','bwar2pics1','')"><IMG NAME=bwar2pics1 BORDER=0 VSPACE=0 HSPACE=0 SRC="../images/sidebar/bwar2pics1.jpg" WIDTH=90 HEIGHT=15 ALT="War2 Pics"></A><BR><BR>

<A HREF="signbook.html" target="main" onMouseOver="return hiLite('bsign1','bsign3','Sign my Guestbook')" onMouseOut="return hiLite('bsign1','bsign1','')"><IMG NAME=bsign1 BORDER=0 VSPACE=0 HSPACE=0 SRC="../images/sidebar/bsign1.jpg" WIDTH=90 HEIGHT=15 ALT="Sign my Guestbook"></A><BR><BR>

<A HREF="viewbook.html" target="main" onMouseOver="return hiLite('bview1','bview3','View my Guestbook')" onMouseOut="return hiLite('bview1','bview1','')"><IMG NAME=bview1 BORDER=0 VSPACE=0 HSPACE=0 SRC="../images/sidebar/bview1.jpg" WIDTH=90 HEIGHT=15 ALT="View my Guestbook"></A><BR><BR>

<A HREF="mailto:cykadelik00@yahoo.com" target="main" onMouseOver="return hiLite('bemail1','bemail3','Email Me')" onMouseOut="return hiLite('bemail1','bemail1','')"><IMG NAME=bemail1 BORDER=0 VSPACE=0 HSPACE=0 SRC="../images/sidebar/bemail1.jpg" WIDTH=90 HEIGHT=15 ALT="Email Me"></A><BR><BR>

<TARGET="_parent"></FONT>
<BR>


</FONT>
</FONT>

</BODY>
</HTML>
