<BODY BACKGROUND="black" BGCOLOR="#000000" TEXT="#FFFFFF" 
LINK="dedac2" VLINK="dedac2" ALINK=white>
<CENTER><IMG SRC="../images/banners/spells.jpg" HEIGHT=60 WIDTH=300 ALT="spells">
<BR><BR>

<A HREF="#human">Human Spells</A> - <A HREF="#orc">Orc Spells</A><BR>
<A NAME="human"><HR><BR>

<FONT SIZE=5>Human Spells</FONT><BR></CENTER>
<IMG SRC="../images/spells/whiteball.gif">&nbsp;&nbsp;<FONT SIZE=4>Paladins</FONT>

<BR>
<BR><IMG SRC="../images/spells/vision.gif" HEIGHT=41 WIDTH=49 ALT="Holy Vision"> <FONT COLOR="339966">Holy Vision:</FONT> Use this spell to see the enemy's territory.  It covers a large area but only last a couple seconds or less <IMG SRC="spell.gif" HEIGHT=14 WIDTH=14 ALT="70">70<BR>
<BR><IMG SRC="../images/spells/heal.gif" HEIGHT=41 WIDTH=49 ALT="Healing"> <FONT COLOR="339966">Healing: </FONT>With this spell you can heal your wounded back to health <IMG SRC="spell.gif" HEIGHT=14 WIDTH=14 ALT="6 per 1 HP">6 per 1 HP<BR>
<BR><IMG SRC="../images/spells/exo.gif" HEIGHT=41 WIDTH=49 ALT="Exorcism"> <FONT COLOR="339966">Exorcism:</FONT> Being used against the undead (Death Knights and Skeletons) the unit will either die or become wounded <IMG SRC="spell.gif" HEIGHT=14 WIDTH=14 ALT="4">4 per 1 HP<BR>
<BR>
<IMG SRC="../images/spells/whiteball.gif">&nbsp;&nbsp;<FONT SIZE=4>Mages</FONT>
<BR>
<BR><IMG SRC="../images/spells/fireball.gif" HEIGHT=41 WIDTH=49 ALT="Fireball"> <FONT COLOR="339966">Fireball:</FONT> Like the fire from a dragon, this will wound anything in it's path <IMG SRC="spell.gif" HEIGHT=14 WIDTH=14 ALT="100">100<BR>
<BR><IMG SRC="../images/spells/shield.gif" HEIGHT=41 WIDTH=49 ALT="Flame Shield"> <FONT COLOR="339966">Flame Shield: </FONT>Creates a shield of fire around a unit decreasing the health points of those around it, including buildings <IMG SRC="spell.gif" HEIGHT=14 WIDTH=14 ALT="80">80<BR>
<BR><IMG SRC="../images/spells/slow.gif" HEIGHT=41 WIDTH=49 ALT="Slow"> <FONT COLOR="339966">Slow: </FONT>The unit this spell is cast on will become slowed down in moving or attacking.  This is the counter-spell for bloodlust <IMG SRC="spell.gif" HEIGHT=14 WIDTH=14 ALT="50">50<BR>
<BR><IMG SRC="../images/spells/invisibility.gif" HEIGHT=41 WIDTH=49 ALT="Invisibility"> <FONT COLOR="339966">Invisibility:</FONT> Cast this spell on a unit and they will be invisible until they either attack, harvest or cast a spell <IMG SRC="spell.gif" HEIGHT=14 WIDTH=14 ALT="200">200<BR>
<BR><IMG SRC="../images/spells/blizzard.gif" HEIGHT=41 WIDTH=49 ALT="Blizzard"> <FONT COLOR="339966">Blizzard:</FONT> Blizzard is very effective over a large enemy force if used correctly.  This will kill land, air and sea units and can destroy buildings <IMG SRC="spell.gif" HEIGHT=14 WIDTH=14 ALT="25">25<BR>
<BR><IMG SRC="../images/spells/polymorph.gif" HEIGHT=41 WIDTH=49 ALT="Polymorph"> <FONT COLOR="339966">Polymorph: </FONT>The transforming of a unit into a critter is useful, though it uses a lot of mana.  Use it against Dragons or Gryphons <IMG SRC="spell.gif" HEIGHT=14 WIDTH=14 ALT="200">200<BR>
<BR>

<A HREF="#top">Top</A><BR>
<A NAME="orc"><HR>
<BR><CENTER>
<FONT SIZE=5>Orc Spells</FONT><BR></CENTER>
<IMG SRC="../images/spells/whiteball.gif">&nbsp;&nbsp;<FONT SIZE=4>Ogre Mages</FONT>

<BR>
<BR><IMG SRC="../images/spells/eye.gif" HEIGHT=41 WIDTH=49 ALT="Eye of Kilrogg"> <FONT COLOR="339966">Eye of Kilrogg:</FONT> You can use this spell to look on enemy forces but it only last for a certain amount of time and can only see so far <IMG SRC="spell.gif" HEIGHT=14 WIDTH=14 ALT="70">70<BR>
<BR><IMG SRC="../images/spells/lust.gif" HEIGHT=41 WIDTH=49 ALT="Bloodlust"> <FONT COLOR="339966">Bloodlust:</FONT> This is one of the most useful Orc spells.  This will make a unit attack with more strength.  It's counter-spell is slow.  Be sure to use this spell if you have it!! <IMG SRC="spell.gif" HEIGHT=14 WIDTH=14 ALT="50">50<BR>
<BR><IMG SRC="../images/spells/runes.gif" HEIGHT=41 WIDTH=49 ALT="Runes"> <FONT COLOR="339966">Runes: </FONT>This is a blinking red trap can be laid for the enemy.  It will cause a lot of damage to anyone who passes over it <IMG SRC="spell.gif" HEIGHT=14 WIDTH=14 ALT="200">200<BR>
<BR>
<IMG SRC="../images/spells/whiteball.gif">&nbsp;&nbsp;<FONT SIZE=4>Death Knights</FONT>
<BR>
<BR><IMG SRC="../images/spells/coil.gif" HEIGHT=41 WIDTH=49 ALT="Death Coil"> <FONT COLOR="339966">Death Coil:</FONT> Drain the health of your opponent by using this spell.  Taking away half of the enemy's health points will add that amount to your Death Knight's health <IMG SRC="spell.gif" HEIGHT=14 WIDTH=14 ALT="100">100<BR>
<BR><IMG SRC="../images/spells/haste.gif" HEIGHT=41 WIDTH=49 ALT="Haste"> <FONT COLOR="339966">Haste:</FONT> Using this spell is an advantage over your enemy.  This will allow a unit to speed up in anything that unit does.  (I don't know about building buildings) <IMG SRC="spell.gif" HEIGHT=14 WIDTH=14 ALT="50">50<BR>
<BR><IMG SRC="../images/spells/armor.gif" HEIGHT=41 WIDTH=49 ALT="Unholy Armor"> <FONT COLOR="339966">Unholy Armor: </FONT>With only taking away half of the health your unit will be invinsible to any attack for a short time.  This does not work with Sappers/Demo Squads <IMG SRC="spell.gif" HEIGHT=14 WIDTH=14 ALT="100">100<BR>
<BR><IMG SRC="../images/spells/decay.gif" HEIGHT=41 WIDTH=49 ALT="Death and Decay"> <FONT COLOR="339966">Death and Decay: </FONT>This is used just like Blizzard.  Use it to kill a large enemy force or towers and buildings <IMG SRC="spell.gif" HEIGHT=14 WIDTH=14 ALT="25">25<BR>
<BR><IMG SRC="../images/spells/whirlwind.gif" HEIGHT=41 WIDTH=49 ALT="Whirlwind"> <FONT COLOR="339966">Whirlwind:</FONT> A whirlwind that is uncontrolable once it is cast will travel around an area wounding or destroying anything in it's path.  This lasts a while <IMG SRC="spell.gif" HEIGHT=14 WIDTH=14 ALT="100">100<BR>
<BR><IMG SRC="../images/spells/raise.gif" HEIGHT=41 WIDTH=49 ALT="Raise Dead"> <FONT COLOR="339966">Raise Dead: </FONT>Bring units back from the dead and have them under your control.  Even your opponent's dead body can be restored under your command.  They become skeletons with little health and strength and over time their health goes down and they die <IMG SRC="spell.gif" HEIGHT=14 WIDTH=14 ALT="50">50<BR>
<BR>
<A HREF="#top">Top</A><BR>


<BR><CENTER><FONT SIZE=1>
<HR><A HREF="main.html">Main</A> 
| <A HREF="awards.html">Awards</A> 
| <A HREF="banners.html">Banners</A> 
| <A HREF="cheats.html">Cheats</A> 
<!--| <A HREF="http://www.geocities.com/timessquare/alley/9878/frames.html">Downloads</A>  -->
| <A HREF="kaliinfo.html">Kali Info</A> 
| <A HREF="links.html">Links</A>
| <A HREF="mybanners.html">My Banners</A> 
| <A HREF="ranks.html">Ranks</A>
| <A HREF="spells.html">Spells</A> 
| <A HREF="strategies.html">Strategies</A> 
| <A HREF="stuff.html">Stuff</A> 
| <A HREF="war2pics.html">War2 Pics</A> 
| <A HREF="signbook.html">Signbook</A> 
| <A HREF="viewbook.html">Viewbook</A> 
<!--| <A HREF="mailto:cykadelik@earthling.net">Email</A><BR>-->
